{% extends 'base_blog.html' %}
{% block title %}
Tag create | {{ block.super }}
{% endblock %}
{% block content %}
    <form action="{% url 'tag_create_url' %}" method="post">
    {% csrf_token %}
        {% for fild in form %}
            {{ fild.label }}
            {{ fild }}
            <div class="form-grooup">
                {% if fild.errors %}
                    <div class="alert alert-danger">
                        {{ fild.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    <button type="submit" class="btn btn-primary mb-5">Create Tag</button>
    </form>
{% endblock %}
